<!DOCTYPE html>
<html th:fragment="base" xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="fragments/head :: head"></head>


<body>
  <header>
    <!-- navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>
  </header>



  <main>
    <div class="container my-3">
        <div class="row">
            <div class="col-sm-12 col-md-2 col-lg-3 col-xl-3 py-4 bg-white"></div>
            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6 py-4 bg-white">
                <h2 th:if="${id}==0">Crear Centro de Formación</h2>
                <h2 th:if="${id}!=0">Modificar Centro de Formación</h2>
                <form class="my-4" th:action="@{/centros}" th:object="${centroFormacion}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre del Centro</label>
                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Nombre" autofocus required th:value="${nombre}" />
                    </div>
                    <div class="mb-3">
                        <label for="tipoVia" class="form-label">Tipo de vía</label>
                        <input type="text" class="form-control" id="tipoVia" th:field="*{direccion.tipoVia}" placeholder="Calle, Avenida, Camino, etc..." autofocus required th:value="${tipoVia}"/>
                    </div>
                    <div class="mb-3">
                        <label for="nombreVia" class="form-label">Nombre de la vía</label>
                        <input type="text" class="form-control" id="nombreVia" th:field="*{direccion.nombreVia}" placeholder="Nombre de via" autofocus required th:value="${nombreVia}" />
                    </div>
                    <div class="mb-3">
                        <label for="numero" class="form-label">Número</label>
                        <input type="text" class="form-control" id="numero" th:field="*{direccion.numero}" autofocus required th:value="${numero}" />
                    </div>
                    <div class="mb-3">
                        <label for="codigoPostal" class="form-label">Código Postal</label>
                        <input type="text" class="form-control" id="codigoPostal" th:field="*{direccion.codigoPostal}" autofocus required th:value="${codigoPostal}"/>
                    </div>
                    <div class="mb-3">
                        <label for="ciudad" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="ciudad" th:field="*{direccion.ciudad}"  autofocus required th:value="${ciudad}"/>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="submit">Guardar</button>
                        <button class="btn btn-secondary" type="reset">Limpiar</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-3 col-xl-3 py-4 bg-white"></div>
        </div>
    </div>

  </main>


  <footer>
    <div th:replace="fragments/footer :: footer"></div>
  </footer>

  <!-- Bootstrap js -->
  <script th:replace="fragments/jsbootstrap :: jsbootstrap"></script>
</body>

</html>